.employee-card {
  background-color: rgb(20, 44, 91);
  width: 200px;
  padding: 20px;
  margin: 50px;
  #employee-card__name {
    font-weight: bold;
    font-size: x-large;
  }
  #employee-card__role {
    font-weight: normal;
  }
}