.outer-wrapper {
  border: solid 2px whitesmoke;
  width: 100vw;
  h2 {
    text-align: center;
  }
  form {
    padding: 50px;
    text-align: center;
    input {
        background-color: whitesmoke;
        color: rgb(20, 44, 91);
      }
  }
}

